@import url(composants/buttons.css);
@import url(composants/container.css);
@import url(composants/avatar.css);
@import url(composants/banners.css);
@import url(composants/cards.css);
@import url(composants/navbar.css);

@import url(pages/page.2.css);

body {
    background-color: rgba(0, 0, 0, 0.888);
    color:  rgba(255, 255, 255, 0.832);
    margin: 0;
    padding: 0;
}


footer{
    display: flex;
    justify-content: space-between;
    background-color:darkgoldenrod ;
    margin-top: 4px;
    font-size: large;
}

a {
    text-decoration: none;
}

.titre{
    display: flex;
    justify-content: space-between;
}

.titre img{
    width: 10vw;
    height: 10vw;
    border-radius: 40%;
}

.white{
    color:  rgba(255, 255, 255, 0.832);;
}


footer ul{
    list-style: none;
}