/* #region card product */

.card-product{
    height: 20vw;
    min-width: 45%;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(255, 230, 0, 0.948);
    display: flex;
    justify-content: space-between;
    color: black;
}

.card-product img{
    height: 100%;
    width: 23%;
    object-fit: cover;
    transition: 5s ease-in;
    background-color: rgb(100, 100, 100);
}

.card-product img:hover{
    width: auto;
}

.text-c :hover{
    font-size: large;
}


.text-c{
    display: flex;
    align-items: center;
    padding: 20px;
    transition: 1s;
}

/* #endregion */

.card-category{
    width: 65vw;
    background-color: rgb(19, 129, 129);
    margin-top: 50px;
    position: relative;
}

.card-category .img-top{
    height: 100%;
    width: 99%;
    object-fit: cover;
    border: 3px solid black;
    background-color: rgb(100, 100, 100);
    display: flex;
    align-items: center;
}

.card-category .text{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;

}

.card-category .avatar-small{
    position: absolute;
    width: 12vw;
    height: 12vw;
    top: 27vw;
    left: 48vw;
    border-radius: 25%;
}

.grid-card{
    display: grid;
    width: 98%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3vw;
    padding: 10px;
}



/*  grid  margin-left: 1vw;
    margin-right: 1vw; */

