.btn{
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 10px;
}

.btn-red{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}

.btn-red:hover{
    background-color:rgb(241, 164, 55);
    color: black;
}

.btn-blue{
    background-color: rgb(17, 20, 122);
    color: white;
}

.btn-blue:hover{
    background-color:rgba(0, 255, 229, 0.374);
    color: black;
}

.btn-lightblue{
    background-color: rgb(0, 255, 200);
    color:rgb(0, 0, 0)
}

.btn-lightblue:hover{
    background-color: rgb(0, 53, 78);
    color: rgb(255, 255, 255);
}
