.container{
    margin: 0 100px;
}

@media (max-width: 900px){
    .container{
        margin: 11px 17vw;
    }

}

@media (max-width: 700px){
    .container{
        margin: 0 10px;
    }

    #container-cards text{
        font-size: small;
        display: flex;
        flex-direction: column;
        max-width: 40vw;
    }
}
